@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Hauora";
    src: url(../public/fonts/Hauora-Regular.ttf);
}

@font-face {
    font-family: "Hauora";
    src: url(../public/fonts/Hauora-ExtraBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "FluentSystemIcons-Regular";
    src: url(../public/fonts/FluentSystemIcons-Regular.ttf);
}

@font-face {
    font-family: "FluentSystemIcons-Filled";
    src: url(../public/fonts/FluentSystemIcons-Filled.ttf);
}

.icon {
    font-family: "FluentSystemIcons-Regular";
}

.icon-f {
    font-family: "FluentSystemIcons-Filled";
}