@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content-h: 100vh;
}

@font-face {
  font-family: "Hauora";
  src: url(../public/fonts/Hauora-Regular.ttf);
}

@font-face {
  font-family: "Hauora";
  src: url(../public/fonts/Hauora-ExtraBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "FluentSystemIcons-Regular";
  src: url(../public/fonts/FluentSystemIcons-Regular.ttf);
}

@font-face {
  font-family: "FluentSystemIcons-Filled";
  src: url(../public/fonts/FluentSystemIcons-Filled.ttf);
}

.icon {
  font-family: "FluentSystemIcons-Regular";
}

.icon-f {
  font-family: "FluentSystemIcons-Filled";
}

.dark body {
  background: #000014;
}
.h-scroll {
  height: var(--content-h);
}

@media (min-width: 768px) {
  .md\:h-scroll {
    height: var(--content-h);
  }
}

@media (max-width: 600px) and (max-height: 1000px) {
  body {
    background-size: auto;
  }
}
